.banner {
  background: url("https://a0.muscache.com/im/pictures/f0483d09-7d13-42d0-a40a-46d585c42220.jpg?im_w=1440")
    center center;
  height: 100vh;
  position: relative;
}

.banner_info {
  color: white;
  padding-top: 35vh;
  padding-left: 60px;
  padding-right: 50px;
  padding-bottom: 40px;
  width: 300px;
}

.banner_info > p {
  color: white;
  font-size: 72px;
  letter-spacing: -0.02em;
  line-height: 61.92px;
  color: white;
  font-size: 72px;
  letter-spacing: -0.02em;
  line-height: 61.92px;
  color: white;
  font-size: 108px;
  letter-spacing: -0.02em;
  line-height: 92.88px;
  font-weight: 700;
}
.banner_searchButton {
  background-color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: #ff7779 !important;
}
.banner_search {
  display: flex;
  flex-direction: column;
}
.banner_info > button {
  background-color: #ff7779;
  color: white;
  text-transform: inherit;
  margin-top: 20px;
  font-weight: 600;
}
.banner_info > h5 {
  margin-top: 10px;
}
