.card {
  margin: 10px;
  border: 0px solid black;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 100ms ease-in;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.07);
}

.card > img {
  object-fit: fill;
  min-width: 300px;
  min-height: 200px;
  width: 100%;
}
.card_info > p {
  font-size: 18px !important;
  line-height: 22px !important;
  font-weight: 600;
}
