.searchPage_info {
  padding: 20px;
}

.searchPage_info > p {
  margin-bottom: 10px;
  font-size: 14px;
}
.searchPage_info > h1 {
  margin-bottom: 30px;
}

.searchPage_info > button {
  border-radius: 30px;
  text-transform: inherit;
  margin: 5px;
}
.searchResult_infoTop {
  font-weight: 300;
  margin-top: 10px;
}
.searchPage_infoTop > p {
  margin-top: 10px;
  font-size: 13px;
  color: gray;
}

.searchResult_infoBottom {
  display: flex;
  justify-content: space-between;
}

.searchResult_star {
  color: red;
}
.searchResult_stars {
  display: flex;
  align-items: center;
}
.searchResults_price > p {
  text-align: right;
}

.searchResults_price {
  position: absolute;
  bottom: 20px;
  right: 30px;
}
